.container-fluid {
  width: 100vw;
  height: 100vh;
  background-color: lavenderblush;
  text-align: center;
}

#box {
  height: 500px;
  width: 380px;
  background-color: rgb(49, 49, 51);
  display: inline-block;
  margin-top: 4%;
  margin-bottom: 1%;
  

}
@font-face {
  font-family: digital;
  src: url(DIGITALDREAMFATSKEW.ttf)
}

h6 {
  font-family: digital;
  font-weight: 700
}

#display {
  width: 336px;
  height: 65px;
  background-color: lightskyblue;
  display: inline-block;
  margin-top: 3%;
  margin-bottom: 6%;
  padding-top: 5%;
  padding-right: 2%;
  text-align: right;
  font-family: digital;
  font-size: 25px;
  overflow-y: hidden;
}

.calc {
  border-radius: 3%;
  height: 70px;
  display: inline-block;
  
  width: 45px;
  margin: 1% 2%;
  font-weight: 700;
  box-shadow: 0 0 2px rgb(36, 226, 240);
}

.buttons {
  width: 80%;
  display: inline-block;
}





